**/*.aux
**/*.bak
**/*.bgv
**/*.cfg
**/*.class
**/*.csv
**/*.dot
**/*.hprof
**/*.iml
**/*.jar
**/*.log
**/*.o
**/*.orig
**/*.pdf
**/*.pyc
**/*.rej
**/*.swn
**/*.swo
**/*.swp
**/.DS_Store/
**/.checkstyle
**/.classpath
**/*.dist/
**/.externalToolBuilders
**/.factorypath
**/.idea/
**/.metadata/
**/.project
**/.pydevproject
**/.settings/
**/bin/
**/.gradle/
**/build/
**/build.xml
**/clibraries/
**/core.*
**/eclipse-launches/
**/env
**/hs_err_pid*.log
**/javadoc/
**/lib/
**/nbproject/
**/scratch/
**/src_gen/
**/test-output/
**/workingsets.xml
**/*.iprof
**/*.iprof.gz